/* .header {
    font-size: 2rem;
    line-height: 1.37;
    text-align: center;
    background-color: burlywood !important; 
}
#title {
     text-align: center;
     font-family: arial, sans-serif;
  }
 */
