.img-circular{
    width: 32px;
    height: 33px;
    background-image: url("https://media.gettyimages.com/photos/aamir-khan-picture-id533650204?s=612x612" );
    background-size: cover;
    display: block;
    border-radius: 50%;
    margin-top: -22%;
   }
.iconclass{
    color: white;
    margin-right: 15px;
}

.dropdown{
    position: relative;
    left: 30%;
    top: 2px;
    width: 121px;
    
}
.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    left: 30%;
    top: 2px;
    width: 121px;
}